<!DOCTYPE html>
<html>
<head>
    <title>All Users</title>
</head>
<body>
    <h1>All Users</h1>
    <table border="1">
        <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Subscription Type</th>
            <th>Join Date</th>
            <th>Actions</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
            <td>{{ user[3] }}</td>
            <td>{{ user[4] }}</td>
            <td>
                <a href="/logs/{{ user[0] }}">View Logs</a> |
                <a href="/add_routine/{{ user[0] }}">Add Routine</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/add_user">Add New User</a>
    <br>
    <a href="/">Back to Home</a>
</body>
</html>

